thesis/*.aux
thesis/*.bbl
thesis/tesi-blx.bib
thesis/tesi.synctex.gz
thesis/*.blg
thesis/*.log
thesis/*.out
thesis/*.xml
thesis/*.toc
thesis/*.xmpi
code/TimeseriesCompressionBenchmarks/.gradle
code/TimeseriesCompressionBenchmarks/build
code/scripts/*.env
data/*